.animated-image {
  animation: float 3s ease-in-out infinite;
}

@keyframes float {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

.contact-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3rem 0;
}

.form-container {
  display: flex;
  box-shadow: 0 8px 16px rgba(73, 72, 72, 0.137);
  border-radius: 10px;
  overflow: hidden;
  background-color: #fff;
  max-width: 1000px;
  width: 100%;
}

.left-panel {
  background-color: #f8f9fa;
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-panel {
  padding: 30px;
  h2{
    color: var(--Secondary-Color);
    font-weight: 800;
  }
}

.form-control {
  border-radius: 8px;
  margin-bottom: 15px;

  border-color: none;
}
.form-control:focus{
  outline: none !important;
  border: none !important;
  border: 0px ;
}
label{
  margin: 10px 0;
}
.btn-submit {
  background-color: var(--Secondary-Color);
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 0;
  font-size: 16px;
  border-radius: 20px;
  transition: .3s all ease-in-out;
  width: 100%;
}

.btn-submit:hover {
  background-color: var(--Primary-Color);
}

.required {
  color: red;
  font-weight: bold;
}

.error-message {
  color: red;
  font-size: 12px;
}

.form-control.ng-invalid.ng-touched {
  border-color: red;
}

.btn-submit:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}
@media (max-width:765px){
  .contact-container {
    width: 95%;
    padding: 1rem 0px;
  }
  .form-container {
    flex-direction: column;
    .contact-container{
       flex-direction: column;
          .left-panel{
            width: 100%;
              img{
                width: 100%;
        }
     }
    }
  }


}
