<footer style="background-color: #f8f9fa; padding: 2rem 0;">
  <div class="container text-center">
    <!-- Logo and Name -->
    <div class="mb-3">
      <img src="./assets/Omar_tarek-removebg-preview.png" alt="Logo" >

    </div>

    <!-- Navigation Links -->
    <ul class="list-inline">
      <li class="list-inline-item "><a href="#home" class=" text-decoration-none">Home</a></li>
      <li class="list-inline-item "><a href="#about" class=" text-decoration-none">About</a></li>
      <li class="list-inline-item "><a href="#services" class=" text-decoration-none">Service</a></li>
      <li class="list-inline-item "><a href="#portfolio" class=" text-decoration-none">Portfolio</a></li>
      <li class="list-inline-item "><a href="#awards" class=" text-decoration-none">Awards</a></li>
      <li class="list-inline-item "><a href="#contact" class=" text-decoration-none">Contact Us</a></li>
    </ul>

    <!-- Social Media Icons -->
    <div class="my-3 ">
      <a href="https://www.linkedin.com/in/omartarekzayed/" target="_blank" class="btn btn-outline-primary rounded-circle mx-2 social-media" >
          <fa-icon [icon]="faLinkedinIn"> </fa-icon>
      </a>
      <a href="#" class="btn btn-outline-primary rounded-circle mx-2 social-media" >
        <fa-icon [icon]="faFacebook"></fa-icon>
      </a>
      <a href="#" class="btn btn-outline-primary rounded-circle mx-2 social-media" >
        <fa-icon [icon]="faInstagram"></fa-icon>
      </a>
      <a href="#" class="btn btn-outline-primary rounded-circle mx-2 social-media" >
        <fa-icon [icon]="faTwitter"></fa-icon>
      </a>
      <a href="#" class="btn btn-outline-primary rounded-circle mx-2 social-media" >
        <fa-icon [icon]="faBehance"></fa-icon>
      </a>
    </div>
    <hr >
    <p style="color: #6c757d;">© Copyright Omar Tarek</p>
  </div>
</footer>
