.navbar {
  background-color: var(--Highlight-Text-Color);
  margin: 20px auto;
  padding: 0.5rem;
  border-radius: 16px;
  width: 70%;
}

.navbar-brand {
  /* width: 189px;
  height: 96px; */
  width: 130px;
  height: 75px;
  transition: 0.3s color;
  img{
    width: 100%;
    height: fit-content;
  }
}

.contact--button {
  background-color: transparent;
  color: var(--Secondary-Color);
  font-size: 16px;
  padding: 8px 20px;
  border-radius: 50px;
  text-decoration: none;
  transition: 0.3s all ease-in-out;
  text-align: center;
  display: flex;
  align-items: center;
  gap: 0.25rem;
  border: 1px solid var(--Secondary-Color);
  .icon-wp {
    font-size: 20px;
    text-align: center;
  }
}

.contact--button:hover {
  background-color: var(--Secondary-Color);
  color: var(--Primary-Color);
}

.navbar-toggler {
  border: none;
  font-size: 1.25rem;
}

.navbar-toggler:focus {
  box-shadow: none;
  outline: none;
}
.btn-close:focus {
  box-shadow: none;
  outline: none;
}
.navbar-nav {
  align-items: center;
  gap: 1rem;

}
.nav-link {
  color: var(--Secondary-Color);
  font-weight: 500;
  position: relative;
  &:hover {
    color: var(--Primary-Color);
  }
  &.active {
    color: var(--Primary-Color);
  }
}

.navbar-toggler{
  color: var(--Secondary-Color);
  .navbar-toggler-icon{
    color: var(--Secondary-Color);
  }

}

/* Media Query  */

@media (min-width: 991px) {
  .nav-link::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0%;
    height: 2px;
    background-color: var(--Primary-Color);
    visibility: hidden;
    transition: 0.3s ease-in-out;
  }
  .nav-link:hover::before {
    width: 100%;
    visibility: visible;
  }
  .nav-link.active::before {
    width: 70%;
    visibility: visible;
  }
}

/* Mobile devices */
@media (max-width: 767px) {
  .navbar-brand{
    width: 130px;
    height: 75px;
  }
  .offcanvas-body .contact--button{
    margin-top: 1.5rem  !important;
  }
  .navbar-nav{
    gap: .25rem;
    padding: 3rem 0 1rem  0;
  }

}
