
<div class=" hero-section " appFadeUp>
  <div class=" container container-fluid d-flex align-items-center justify-content-between">
    <div class="hero-content">
      <h1 class="display-4">
        Hi, I'm a
        <span class=" animated-name">Omar Zayed</span>
      </h1>

      <h4>Cybersecurity Specialist | SOC Expert </h4>
      <p class="lead">
      I specialize in SOC Investigations, DFIR, Threat Hunting, and Malware Analysis. Passionate about enhancing detection, response, and operational efficiency. Let’s build secure and resilient systems!</p>
      <div class="button-container d-flex gap-2">
        <a href="#contact" class="btn btn-primary contact-btn" >
         <fa-icon [icon]="faEnvelope" class="me-2"></fa-icon>
          Contact Me
        </a>

        <button class="btn gap-2 download-btn" (click)="onDownloadCV()">
          Download CV
          <fa-icon [icon]="faArrowUpRightDots" class=" me-2"></fa-icon>
        </button>
      </div>

    </div>

    <!-- Right Image -->
    <div class="hero-image">
      <div class="animated-shape"></div>
      <img
        src="../../../assets/hero-section.png"
        alt="Cybersecurity Expert"
        class="img-fluid  rounded "
      />
    </div>
  </div>

</div>
