<section class="companies-section py-5">
  <div class="container">
    <h2 class="text-center mb-4">Companies I Worked With</h2>

    <div class="companies-wrapper">
      <button class="custom-arrow left-arrow" onclick="moveSlider('left')">
        <i class="bi bi-chevron-left"></i>
      </button>

      <div class="companies-container">
        <div class="companies-row">
          <!-- Company Logo 1 -->
          <div class="company-box">
            <div class="logo-frame">
              <img src="../../../assets/ibm_logo.jpeg" alt="Company Logo" class="img-fluid">
              <p class="logo-name">IBM</p>
            </div>
          </div>
          <!-- Company Logo 2 -->
          <div class="company-box">
            <div class="logo-frame">
              <img src="../../../assets/cyber dojo.jpeg" alt="Company Logo" class="img-fluid">
              <p class="logo-name">Cyber Dojo</p>
            </div>
          </div>
          <!-- Company Logo 3 -->
          <div class="company-box">
            <div class="logo-frame">
              <img src="../../../assets/digital_egypt_pioneers_initiative_depi_logo.jpeg" alt="Company Logo" class="img-fluid">
              <p class="logo-name">Digital Egypt</p>
            </div>
          </div>
          <!-- Company Logo 4 -->
          <div class="company-box">
            <div class="logo-frame">
              <img src="../../../assets/network_international_logo.jpeg" alt="Company Logo" class="img-fluid">
              <p class="logo-name">Network International</p>
            </div>
          </div>
          <!-- Company Logo 5 -->
          <div class="company-box">
            <div class="logo-frame">
              <img src="../../../assets/weinnovateme_logo.jpeg" alt="Company Logo" class="img-fluid">
              <p class="logo-name">We Innovate Me</p>
            </div>
          </div>
          <!-- Company Logo 6 -->
          <div class="company-box">
            <div class="logo-frame">
              <img src="../../../assets/efg_hermes_logo.jpeg" alt="Company Logo" class="img-fluid">
              <p class="logo-name">EFG Hermes</p>
            </div>
          </div>
          <!-- Add more logos as needed -->
        </div>
      </div>

      <button class="custom-arrow right-arrow" onclick="moveSlider('right')">
        <i class="bi bi-chevron-right"></i>
      </button>
    </div>
  </div>
</section>
