<section class="services container ">
  <div class="services-box ">
    <h2>Which Services I Provide</h2>
    <p>
      I work creatively and specially for my clients. Make your dream come true & grow with me. I provide innovative solutions for your security.
    </p>
    <div class="types">
      <div class="d2c_services_card">
        <img src="../../../assets/key.png" alt="Digital Product Design">
        <h4>Digital Product Design</h4>
        <p>Multiple layers of security are dispersed across the  networks.</p>
      </div>

      <div class="d2c_services_card">
        <img src="../../../assets/protection.png" alt="Threat Management">
        <h4>Threat Management</h4>
        <p>Threat management  speed up  crucial security.  </p>
      </div>

      <div class="d2c_services_card">
        <img src="../../../assets/internet.png" alt="Web Security">
        <h4>Web Security</h4>
        <p>Secure your data and assets as soon as possible to ensure safety.</p>
      </div>

      <div class="d2c_services_card">
        <img src="../../../assets/database (2).png">
        <h4>Database Security</h4>
        <p>Keep your data secure with an effective cybersecurity strategy.</p>
      </div>
    </div>
  </div>
</section>
