<section class="achievements-skills-section " appFadeUp>
  <div class="container">
    <div class="achievements mb-5">
      <h2 class="text-center mb-4">My Achievements</h2>
      <p>Advanced Threat Protection. I've Been In The It Industry Since 2006, And In 2009 I Began To Concentrate On It Security. Since Then, I Have Worked</p>
      <div class="row g-4 justify-content-center">
        <div class="col-md-3" *ngFor="let achievement of achievements">
          <div class="achievement-card">
            <fa-icon class="custom-icon" [icon]="achievement.icon"></fa-icon>
            <h4 class="achievement-title">{{ achievement.title }}</h4>
            <p class="achievement-description">{{ achievement.description }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
